<template>
  <div class="home">
    <h2>Routes</h2>
    <v-data-table
        :headers="headers"
        :items="routes"
        class="elevation-1"
        width='100%'
        :rows-per-page-items='[10, 2, 5 ,15,20,25,50]'
        ref='routeList'
        disable-initial-sort       
      >
        <template slot="items" slot-scope="props">
            <td>{{props.item.name}}</td>
            <td><span v-if='props.item.state!="paused"'>{{formatDateTime(new Date(props.item.lastUpdated))}}</span></td>
            <td style='cursor: pointer;' @click='showRoute(props.item)'>{{props.item.definition.substring(0, props.item.definition.indexOf('\n')) + '...'}}</td>
            <td>
                <v-btn icon @click='toggleRoute(props.item)'>
                    <v-icon v-if='props.item.state=="active"'>pause</v-icon>
                    <v-icon v-else-if='props.item.state=="paused"'>play_arrow</v-icon>
                    <span v-else>{{props.item.state}}</span>
                </v-btn>
            </td>
        </template>
    </v-data-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    
  name: 'home',
  
  created: function() {
      setTimeout(this.refresh, 10000)
      this.refresh()
  },
  
  methods: {
      
      showRoute(route) {
        alert(route.definition)          
      },
      
      async refresh() {
          let result = await axios.get('/route/list')
          let routes = result.data
          // console.log("Got routes: ")
          // console.log(routes)
          this.routes = routes
      },
      
      async toggleRoute(route) {
          let result = await axios.get(`/route/${route.name}/toggle`)
          if(result.data.status == 'ok') {
              route.state = result.data.route.state
          }
      }
  },

  data: function() { return {
      headers: [
          { text: 'Name', value: 'name', },
          { text: 'Timestamp', value: 'timestamp', },
          { text: 'Definition', value: 'definition', },
          { text: 'Actions', value: 'name', sortable: false}
      ],
      routes: [
          { name: 'hi', timestamp: 1032234, definition: 'wat'}
      ]
  }},
  components: {
  }
}
</script>
